body
{
    background-color: yellow;
    height: 120vh;
}
#heading
{
    text-align: center;
}
.container
{
    display: flex;
    justify-content: center;
}
a
{
     text-align: center; 
     /* margin-left: 50px */
}
.box
{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border: 2px solid black;
    margin-top: 30px;
    transition: all 1s;
}
.box1:hover
{
    width: 300px; 
}
.box2:hover{
    width: 300px;
    height: 300px;
    
}
.box3:hover
{
    width: 300px;
    transition-duration: 3s;
}
.box4:hover{
    width: 300px;
    transition-duration: 4s;
}
.box5:hover
{
    width: 300px;
    transition-duration: 4s;
}
.box6:hover{
    width: 300px;
    transition-duration: 4s;
}
.box7:hover
{
    width: 300px;
    transition-duration: 4s;
}